.main-layout {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 95vh;
    justify-content: center;
    gap: 20px;
    padding: 0 5vw;
}

.select-layout{
    align-self: start;
    font-size: small;
}

.conn-bt{
    align-self: end;
    background-color: beige;
    font-size: small;
}

.input-layout{
    align-self: stretch;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 20px;
    gap: 15px;
}

.acc-input,.pwd-input{
    justify-self: stretch;
}

